# Dependencies
node_modules/

# Source Control
.github/

# Tooling
.husky/
.versions
.wrangler/
.dev.vars

# Documentation & Config
CHANGELOG.md
LICENSE.md
README.md
GEMINI.md
Dockerfile
docker-compose.yml
wrangler.toml

# Misc
.DS_Store
dist/
coverage/
